Strings
====== 

String (ou **str** em Python) é um tipo especializado que trata justamente do armazenamento de textos. O tipo **str** também é imutável, o que significa que, uma vez declarada uma string, ela não poderá mudar senão pela criação de uma nova string.

Inicialização de Strings
---------------------------

A inicialização de strings pode ser feita de diversas maneiras, porém, a mais comum é por aspas **_simples_** ou **_duplas_**.

In [0]:
# aspas simples
name = 'Fernando'

ou

In [0]:
# aspas duplas
name = "Fernando"

Operações com Strings
---------------------------

É possível realizar as seguintes operações com strings:
  
- Concatenação
- Interpolação
- String como sequência
- String como objeto

### Concatenação

A concatenação, por exemplo, gera uma nova string a partir de outras já existentes. Utiliza-se, para isso, o operador de concatenação "**+**".

In [1]:
# concatena 3 strings formando uma nova string e imprime
print("Uma" + "Nova" + "String")

UmaNovaString

In [3]:
# inicializa uma string name com o valor "Fernando"
name = "Fernando"

# concatena a string "Hello, " com a string name
print("Hello, " + name)

Hello, Fernando

### Interpolação

A interpolação trata-se da substituição de símbolos em posições fixas por variáveis de diferentes tipos. Para isso usa-se a letra f antes do inicio da string. Caso precise-se formatar os valores passados usamos os seguintes símbolos interpoladores:

- s - string
- d - inteiro
- o - octal
- x - hexadecimal
- f - real
- e - real exponencial

In [6]:
# coding: utf-8

name = "Jennifer"

# troca o símbolo de interpolação %s pela string name e imprime
print(f"O nome dela é {name}")

O nome dela é Jennifer

In [8]:
name = "Jennifer"
age = 20

# troca o simbolo {name} pela string name e o {age} pela variável inteira age e imprime
print(f"{name} tem {age} anos")

Jennifer tem 20 anos

In [10]:
cash = 189.99

# troca o símbolo {cash:.1f} pelo valor 189.99 com arredondamento e uma casa decimal
print(f"Khan tem {cash:.1f} dólares no League of Legends")

# para mostrar o exato valor
print(f"Khan tem {cash:.2f} dólares no League of Legends")

Khan tem 190.0 dólares no League of Legends
Khan tem 189.99 dólares no League of Legends

### String como sequência

As strings, assim como as listas, podem ser tratadas como sequências. Sendo assim, as strings também podem ser: 

- Iteradas (ou percorridas) 
- Acessadas por índices 
- Fatiadas

In [11]:
# Exemplo com Iteração

name = "Nasus"

# Lê-se: Para cada caractere na variável name, imprima o caractere atual
for char in name:
  print(char)

N
a
s
u
s

In [14]:
# Exemplo com acesso por índice

name = "Ash Ketchum"

# Imprime o caractere de índice 0 e o caractere de índice 4
print(f"{name[0]}. {name[4]}.")

A. K.

In [16]:
# Exemplo com fatiamento (slicing)
#
# O fatiamento funciona com ATÉ 3 dados assim como a função range
# 
# string[começo:fim+1:intervalo]
#
# Se o começo ou o intervalo não são definidos, o padrão é 0 e 1, respectivamente.
# Se o fim+1 não for definido, será considerado o tamanho do objeto.

name = "Kurosaki Ichigo"

# Imprime da primeira posição até a sétima posição da string name
print(name[0:8])

# Imprime da nona posição até a décima quinta posição da string name
print(name[9:16])

# Por padrão, será impresso a string name por completo 
print(name[:])

# Imprime a string name com intervalos de duas letras
print(name[::2])

# Imprime a string name invertida
print(name[::-1])

Kurosaki
Ichigo
Kurosaki Ichigo
Krsk cio
ogihcI ikasoruK

### String como Objeto

As strings também são objetos no Python, o que significa que pode-se utilizar de alguns métodos nativos da linguagem.  

Os métodos são acessados por um ponto (.) logo após a string.  

Exemplo:  
*string*__.metodo()__

In [17]:
name = "chapolin colorado"

# O método upper() muda todas as letras da string para MAIÚSCULAS.
print(name.upper())

CHAPOLIN COLORADO

In [19]:
# coding:utf-8

name = "albert einstein"

# O método capitalize() muda apenas a primeira letra da string para MAIÚSCULA
# e todas as demais para MINÚSCULAS.
print(name.capitalize())

Albert einstein

### Seção Bônus

Nesta seção bônus, serão mostrados os seguintes tópicos:

- Multiplicação de Strings
- Método format()

In [20]:
# Exemplo de Multiplicação de Strings

# Imprime a string "Hello" 3x
print("Hello" * 3)

# É o equivalente ao seguinte código
print("Hello" + "Hello" + "Hello")

HelloHelloHello
HelloHelloHello

In [28]:
# Exemplos de alguns casos de uso do método format()

best_game = "Fortnite"
company = "Epic Games"

# Neste exemplo os parametros vão ser trocados em ordem como na interpolação
print("{} é o melhor jogo da {}.".format(best_game, company))

# Neste exemplo os parametros vão ser trocados pelas palavras-chave
print("{best_game} é o melhor jogo da {company}.".format(best_game="League of Legends", company="Riot Games"))

# Neste exemplo as palavras-chave hora e minuto são formatadas com 2 inteiros
# se não tiver, como é o caso da hora que é 7, adiciona-se um 0 a esquerda
# para completar
print("{saudacao}, são {hora:02d}:{minuto:02d}.".format(saudacao="Bom dia", hora=7, minuto=30))

Fortnite é o melhor jogo da Epic Games.
League of Legends é o melhor jogo da Riot Games.
Bom dia, são 07:30.